DEBUG=True
URL_FRONT=

TOKEN_KEY=
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60

KEY_URL_TOKEN=
USERS_ACTIVATE_TOKEN_AGE_IN_SECONDS=259200
USERS_RESET_PASSWORD_TOKEN_AGE_IN_SECONDS=86400

MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=3306
MYSQL_HOST=localhost

MAIL_SERVER=localhost
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=False
MAIL_USE_SSL=False
DONT_REPLY_FROM_EMAIL="no reply,noreply@correo.com"
ADMINS="firt.admin@example.com,second.admin@example.com"