[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
cryptography = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
bcrypt = "*"
python-jose = "*"

[dev-packages]
bpython = "*"

[requires]
python_version = "3.9"

[scripts]
server = "python fusers-crud/main.py"
