[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
cryptography = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
bcrypt = "*"
python-jose = "*"
flask-mail = "*"
itsdangerous = "*"
flasgger = "*"
flask-cors = "*"

[dev-packages]
bpython = "*"
pytest = "*"
coverage = "*"
pytest-env = "*"

[requires]
python_version = "3.9"

[scripts]
server = "python fusers-crud/main.py"
base = "docker-compose up -d mysql-fcuj"
routes = "flask -A fusers-crud/main routes"
services = "docker-compose up -d mysql-fcuj adminer-fcuj smtp4dev"
cov = "coverage run -m pytest -c fusers-crud/pytest.ini --rootdir=fusers-crud"
report = "coverage report"
html = "coverage html"
test = "pytest -v -c fusers-crud/pytest.ini --rootdir=fusers-crud"
